<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>BugTracking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Chyba</display-name>
    <servlet-name>Chyba</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.bug.services.entities.ChybaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chyba</servlet-name>
    <url-pattern>/Chyba</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>CiselnikStavov</display-name>
    <servlet-name>CiselnikStavov</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.bug.services.entities.CiselnikStavovService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CiselnikStavov</servlet-name>
    <url-pattern>/CiselnikStavov</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>Projekt</display-name>
    <servlet-name>Projekt</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.bug.services.entities.ProjektService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Projekt</servlet-name>
    <url-pattern>/Projekt</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>Riesitel</display-name>
    <servlet-name>Riesitel</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.bug.services.entities.RiesitelService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Riesitel</servlet-name>
    <url-pattern>/Riesitel</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>Uzivatel</display-name>
    <servlet-name>Uzivatel</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.bug.services.entities.UzivatelService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uzivatel</servlet-name>
    <url-pattern>/Uzivatel</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>Vylepsenie</display-name>
    <servlet-name>Vylepsenie</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.bug.services.entities.VylepsenieService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vylepsenie</servlet-name>
    <url-pattern>/Vylepsenie</url-pattern>
  </servlet-mapping>
</web-app>